nav{
   margin-bottom: 80px;
}

nav ul {
   font-size: 16px;
   line-height: 30px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-variant: normal;
   text-align: center;
   font-weight: bold;
   color: #000000;
   background-color: transparent;
   text-decoration: none;
}

nav li {
   text-align: center;
   padding-left: 25px;
   padding-right: 25px;
   display: inline-block;
}

